<article class="article card p-6 rounded-card shadow-card container">
  <h1 class="mb-2">{{ Model.ContentItem.DisplayText }}</h1>
  {%- if Model.ContentItem.CreatedUtc %}
  <p class="meta mb-4">{{ "Published" | t }} {{ Model.ContentItem.CreatedUtc | date: "%Y-%m-%d" }}</p>
  {%- endif %}
  {{ Model.Content | shape_render }}
</article>
