<article class="article card p-6 rounded-card shadow-card">
  {% shape_string Model.Content.Parts.TitlePart %}
  <div class="mt-4">
    {% shape_string Model.Content.Parts.HtmlBodyPart %}
  </div>
</article>
