<section class="http-error text-center">
  <div>
    <h1>404</h1>
    <p class="mb-4">{{ "Sorry, we could not find that page." | t }}</p>
    <a class="btn btn-primary" href="{{ "~/" | href }}">{{ "Back to home" | t }}</a>
  </div>
</section>
