<section class="http-error text-center">
  <div>
    <h1>500</h1>
    <p class="mb-4">{{ "Something went wrong on our side." | t }}</p>
    <a class="btn btn-primary" href="{{ "~/" | href }}">{{ "Back to home" | t }}</a>
  </div>
</section>
